@import 'https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap';

$font-family: 'Outfit', 'sans-serif';
$font-size-sl: 0.75rem;
$font-size-sm: 0.8rem;
$font-size-md: 0.9375rem;
$font-size-lg: 1.1rem;
$font-size-xl: 1.75rem;
$font-size-xxl: 2.5rem;
$fw-400: 400;
$fw-700: 700;